/*search box */

.searchdata input[type="text"],
.searchdata input[type="text"]:focus {
    border: none;
    width: 100%;
    padding: 0px;
    border: none;
    box-shadow: none;
}

/* Kendo Grid header*/

.k-grid .k-grid-header .k-header a {
    color: rgb(75, 85, 99);
    font-size: 13px !important;
    font-weight: 600;
    margin-bottom: 0px;
    padding-right: 8px;
}

.k-grid .k-grid-header .k-header {
    background-color: #fff;
    height: 44px;
}

.k-grid {
    border: none;
}

.k-grid-header .k-grid-filter.k-state-active,
.k-grid-header .k-header-column-menu.k-state-active,
.k-grid-header .k-hierarchy-cell .k-icon.k-state-active {
    background-color: transparent !important;
}


/*checkbox */

.k-checkbox {
    border-radius: 4px;
}

.k-grid td>.k-checkbox {
    vertical-align: inherit;
}

.k-grid-header th .k-checkbox {
    margin-left: 3px !important;
}

.k-checkbox:checked {
    border-color: #1890FF;
    color: #fff;
    background-color: #1890FF;
}


/* td */

.k-grid td {
    border-width: 0px 0 1px 0px !important;
    background-color: white;
}

.k-grid tr.k-state-selected>td {
    background-color: #E6F7FF;
}

.demo-section .tabstrip-container {
    width: 500px;
}


/* Tab */

.k-tabstrip-items-wrapper,
.k-tabstrip-items-wrapper .k-item.k-state-active,
.k-tabstrip-items-wrapper .k-item.k-state-selected,
.k-tabstrip-items .k-item,
.k-tabstrip>.k-content {
    border: none;
}

.k-tabstrip-items-wrapper .k-item.k-state-active span,
.k-tabstrip-items-wrapper .k-item.k-state-active svg,
.k-tabstrip-items-wrapper .k-item.k-state-selected span {
    color: rgb(59 130 246); //text-blue-500
}

.k-tabstrip-items-wrapper .k-item span {
    color: rgb(107 114 128); //text-gray-500
}

.k-tabstrip {
    padding: 4px 0px;
}

.k-tabstrip-content,
.k-tabstrip>.k-content {
    padding: 4px 0px;
}


/* Pagination */

.k-pager-wrap {
    background-color: white;
    color: #6B7280;
}

.k-grid-pager {
    border-top: 1px solid #E5E7EB;
}

.k-pager-numbers .k-link {
    color: #6B7280;
}

.k-pager-numbers .k-link.k-state-selected {
    color: #1890FF;
    background-color: #E6F7FF;
}

.k-pager-numbers .k-link:hover {
    color: #1890FF;
    background-color: #E6F7FF;
}

.gridInfo .k-pager-info {
    display: contents;
    width: 80%;
}

.gridInfo {
    margin-top: 8px;
}

.gridPagination {
    border: none;
}

.k-pager-numbers .k-link,
.k-pager-numbers .k-link:hover,
.k-pager-numbers .k-state-selected {
    border-radius: 0;
    /*Use squares instead of circles*/
    border: 1px solid #bbbbbb;
}


/*Selected page number*/

.k-pager-numbers .k-state-selected {
    border-color: #bbbbbb;
}


/*Pager links*/

.k-pager-wrap>.k-link {
    border-radius: 0;
    border: 1px solid #bbbbbb;
}

.k-pager-wrap>.k-link:hover {
    border-color: #4f4f4f;
}

.k-pager-last {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.k-pager-first {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}

.k-pager-numbers .k-link,
.k-pager-wrap .k-pager-nav {
    margin: -1px !important;
}

.k-grid-pager .k-link,
.k-grid-pager .k-pager-numbers {
    float: none;
}


/* Page Info */

.gridInfo .k-pager-info {
    display: contents;
    width: 80%;
}

.gridInfo .k-pager-sizes {
    display: inline-flex;
    /* width: 24%; */
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    height: 35px;
}

.gridInfo {
    margin-top: 8px;
}

.gridPagination {
    border: none;
}


/* user profile pic or 2 character white */

.user-profile-pic {
    border-radius: 50%;
    /*background: #337ab7;*/
    color: #fff !important;
    text-align: center;
}

/* Copy data icon blue */
.copy_data.active span{
    color: #1890FF;
}

/* On click of grid list select box selected */
[type="checkbox"]:checked:hover,
[type="checkbox"]:checked:focus,
[type="radio"]:checked:hover,
[type="radio"]:checked:focus {
    border-color: #1890FF;
    background-color: #1890FF;
}

/*Custom loader set for grid list */
.k-loading-mask .k-loading-image {
    background-image: none !important;
}
div.k-loading-image {
    display: none;
}
span.k-loading-text {
    text-indent: 0;
    top: 50%;
    left: 50%;
    /* background-color: #0F0; */
    z-index: 9999;
}
.k-loading-mask {
    z-index: 99999;
}
.k-widget.k-window.k-display-inline-flex.blur-modal{
    z-index: 9999;
}
.k-loading-color {
    z-index: 99;
}

/* icon-size */
.k-icon-32 {
    font-size: 32px;
}
.k-icon-48 {
    font-size: 48px;
}
.k-icon-64 {
    font-size: 64px;
}
.icon-color-blue {
    color: #1890FF;
}

.icon-color-orange {
    color: orange;
}

.hideprofiledropdown {
    z-index: 999;
}

/* input box */

[type='text']:focus {
    border-color: #2ea2f8!important;
    box-shadow: none;
    color: #354052!important;
    outline: 0;
    border-width: 1px;
}

.k-form-error.k-invalid-msg {
    display: none;
}

.k-window-content {
    padding: 16px 24px;
}

.k-widget, .k-widget *, .k-widget :before {
    box-sizing: border-box;
}

.k-form-field-wrap input[type="text"]:focus {
    border-color: #2ea2f8 !important;
    box-shadow: none;
    color: #354052 !important;
}

.k-notification {
    padding: 0px !important;
    border-radius: 8px !important;
  }
.k-notification-success, .k-notification-error{
    border-color: #fff !important;
    background-color: #fff !important;
}

.k-form-legend {
    display: none;
}

.k-readonly
{
    color: gray;
}

#example .demo-section {
    max-width: 600px;
    width: 600px;
}

#reportsFilterForm .k-form-layout{
    width: 100% !important;
}
#vyajGanatriFilterForm .k-form-layout{
    width: 100% !important;
}

.k-form-field .k-widget.k-dropdown .k-dropdown-wrap{
    padding: 5px 0px;
    line-height: 24px !important;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 5%);
    border-radius: 4px;
    width: 100%;
}

.k-list-optionlabel.k-state-selected, .k-list-optionlabel {
    display: none;
}

.k-popup .k-list .k-state-hover {
    background-color: #5ca5ff !important;
    cursor: pointer !important;
    color: white !important;
}

.k-form-field .k-dropdown-wrap .k-select {
    line-height: 35px !important;
    width: 35px!important;
}

.k-widget  .k-invalid-msg {
    display: none;
}

/* DatePicker */

.k-form-field .k-picker-wrap {
    font-size: 14px !important;
    height: 41px !important;
    border-radius: 4px !important;
    background-color: #fff;
    border: 1px solid #ccc;
}

.k-dialog-titlebar {
    background-color:#1890FF;
}

/* textbox */
.k-form-field .k-textbox {
    font-size: 14px !important;
    line-height: 24px !important;
    border-radius: 5px;
    box-shadow: none;
    font-weight: 400 !important;
    color: #354052 !important;
    height: 41px !important;
    border-radius: 4px !important;
    background-color: #fff;
    border: 1px solid #ccc;
}

/* validation error */
.k-textbox.k-invalid,
.k-textarea .k-invalid,
.k-dropdown-wrap.k-invalid,
.k-picker-wrap.k-invalid{
    border : 1px solid red !important;
}

/* radio button */
.k-radio-item .k-radio[type="radio"]:checked {
    border-color: rgba(24, 144, 255, 1) !important;
    border-radius: 10px !important;
    background-image: none !important;
    background-color: #2563eb !important;
}
.k-radio-item .k-radio[type="radio"]:checked:focus {
    outline: 2px solid #2563eb;
    outline-offset: 2px;
}
.k-radio.k-checked.k-state-focus, .k-radio:checked:focus {
    box-shadow: none;
}
.k-radio-item .k-radio {
    margin-right: 5px !important;
}

/* form */
.k-form .k-form-fieldset {
    margin: 0px 0px 0px !important;
}

#reportsFilterForm .k-form-field {
    margin-top: 16px !important;
}

.k-form .k-form-field {
    margin-top: 4px !important;
}

.k-form-field label {
    color: #374151 !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    margin-bottom: 4px !important;
}

.k-window {
    border-radius: 6px !important;
}

.titlebar-sms-modal {
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
}

/* filter box */
.k-filter-menu .k-dropdown, .k-action-buttons .k-button {
    border: 1px solid #b6b6b6;
    background-color: #E5E7EB;
}
.k-action-buttons .k-primary {
    background-color: #007fff;
    cursor: pointer;
    color: white;
}
.k-filter-menu .k-textbox, .k-filter-menu .k-picker-wrap {
    border: 1px solid #b6b6b6;
}


